<div class="navigation">
  <i class=" navHome defaultHome navIconHome fa-sharp fa-solid fa-house"></i>
  <p class="navHome defaultHome navItem navItemHome">Home</p>
  <i class=" navSearch  navIconSearch fa-solid fa-magnifying-glass"></i>
  <p class="navSearch  navItem navItemSearch">Search</p>
</div>
<script src="/javascript/navigation.js"></script>
<div class="musicLibrary">
  <div class="musicLibraryTopLeft">
    <i class="libraryIconLibrary fa-solid fa-list"></i>
    <p class="libraryName">Your Library</p>
  </div>
  <div class="libraryIconPlus">
    <i class="iconPlus fa-regular fa-plus"></i>
  </div>
  <div class="libraryElement">
    <p class="libraryElementSong defaultElementSong">Song</p>
    <p class="libraryElementFavourite">Favourite</p>
  </div>
  <script src="/javascript/libraryElement.js"></script>
  <i class="libraryIconSearch fa-solid fa-magnifying-glass"></i>
  <div class="libarySongSortBy">
    <p class="sortByMenu">Sort by</p>
    <i class="sortByIcon fa-solid fa-caret-down"></i>
  </div>
  <div class="songListItems">
    <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
    <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
    <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
    <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
        <div class="listItemsInfor">
      <div class="itemImage">
        <img class="itemImageDefault" src="/image/default.png" alt="">
      </div>
      <p class="itemName">My Playlist #1</p>
      <p class="itemAuthor">Playlist Nguyễn Hoàng Quý</p>
    </div>
  </div>
</div>

{{!-- <div class="musicController">
  <div class="controllerInfor">
    <img src="" alt="" class="inforImage">
    <p class="inforName">Song name</p>
    <p class="inforAuthor">Song'author</p>
  </div>
  <div class="controllerFunction">
    <i class="fa-solid fa-shuffle"></i>
    <i class="fa-solid fa-backward-step"></i>
    <i class="fa-sharp fa-regular fa-circle-play"></i>
    <i class="fa-regular fa-circle-pause"></i>
    <i class="fa-solid fa-forward-step"></i>
    <i class="fa-solid fa-repeat"></i>
    <i class="fa-solid fa-list-ul"></i>
  </div>
</div> --}}

{{!-- <div class="homePage">
  <img src="" alt="" class="pagePoster">
  <div class="pageList">
    <p class="listName">Recently played</p>
    <div class="listItem">
      <img src="" alt="" class="listItemImage">
      <p class="listItemSongName">Song'name</p>
      <p class="listItemSongDesciption">Description</p>
    </div>
  </div>
  <div class="pageList">
    <p class="listName">Show to try</p>
    <div class="listItem">
      <img src="" alt="" class="listItemImage">
      <p class="listItemSongName">Song'name</p>
      <p class="listItemSongDesciption">Description</p>
    </div>
  </div>
  <div class="pageList">
    <p class="listName">Recommended for you</p>
    <div class="listItem">
      <img src="" alt="" class="listItemImage">
      <p class="listItemSongName">Song'name</p>
      <p class="listItemSongDesciption">Description</p>
    </div>
  </div>
</div> --}}